<div>
  <div *ngFor="let character of characters; let i = index">
      <div class="panel">
        <div class="container">
          <div>ID: {{ (character.id) }}</div>
          <div>Name: {{ (character.name) }}</div>
        </div>
        <div class="container">
          <div>Status: {{ character.status }}</div>
          <div>Species {{ character.species }}</div>
        </div>
        <div class="container">
          <div>Type: {{ character.type }}</div>
          <div>Gender: {{ character.gender }}</div>
        </div>
      </div>
  </div>
</div>
